#ultimate-container{
  min-height: 500px;
  display: flex;
  justify-content: center;
  background: #efb1a6;
  background-repeat: no-repeat;
}

#li{
  list-style-type: none;
}

#directionsLink{
  display: flex;
  justify-content: center;
  font-family: monospace;
}

#game-box{
  width: 347px;
  background-image: url('gameBoxImage.jpg');
  background-position: 500px 170px;
  border-radius: 25px;
  margin: 20px;
  padding: 10px;
}

#directions {
  cursor: default;
}

ul {
  list-style-type: none;
  padding: 0;
}

canvas {
  float: left;
  margin: 10px;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin: 15px 15px 15px 15px;
  border: 3px;
}

.empty{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin: 15px 15px 15px 15px;
  box-shadow: inset 15px 15px 30px rgba(0,0,0,.1);
  background-image: url('pegPhoto.jpg');
}

.peg_list{
  border-radius: 5px;
  border: solid black 1px;
  width: 33px;
  height: 33px;
  float: left;
  margin: 16px;
  margin-top: 19px;
}

.peg{
  border: solid black 1px;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  float: left;
  margin: 3.5px;
  background-image: url('pegPhoto.jpg');

}

.invis_peg_list{
  width: 30px;
  height: 30px;
  float: left;
  margin: 15px 15px 15px 15px;
}

button{
  /*background-color: teal;*/
  font-family: monospace;
  margin: 26px;
  margin-left: 146px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.ball {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin: 15px 15px 15px 15px;
  box-shadow: inset -15px -15px 30px rgba(0,0,0,.1);
}
